.App {
  text-align: center;
  padding-top: 10px;
}


.App-link {
  color: #61dafb;
}

.chart{
  width: auto;
}

.chart:focus{
  border: 1px solid black;

}

.StartPage{
  height: 100%;
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  width: 8px;
  height: 10px;
}

::-webkit-scrollbar-thumb{
  background-color: rgba(0,0,0,0.2);
  border-radius: 40px;

}
::-webkit-scrollbar-thumb:hover{
  background-color: rgba(0, 0, 0, 0.50);
}

.App-header {
  top: 0px;
  background-color: white;
  height: 7vh;
  position: sticky;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}



.App-header > div:first-of-type{
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
}

.App-header > div:first-child > span:first-child{
  height: inherit;
  align-self: center;  
  font-family: uni-monospace;
  font-variant: small-caps;
  font-size: x-large;
  
}
.App-header > div:first-child > span:last-child{
  align-self: center;
  font-size: large;
  font-family: Courier, monospace;
  color: grey;
}

.App-menu{
  display: flex;
  flex-direction: row;
  gap: 10vw;
  height: inherit;
  margin-left: 10%;
}
.App-menu > span{
  font-size: larger;
  cursor: pointer;
  margin-top: 8px;
  font-variant: caps;
  font-family: uni-monospace;
}

.github{
  margin-left: auto;
  margin-right: 10%;
}

.App-content{
  min-height: 82vh;
  border: #61dafb;
  /* height: 82vh; */
}

.splitLine{
  width: auto;
  height: 2px;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(225, 225, 225, 0.995) 50%, rgba(255,255,255,0.006127450980392135) 100%);
}

.App-footer{
  text-align: center;
  min-height: 10vh;
}

.question{
  width:100%;
  height: fit-content;
  border: none; 
  max-width:100%; 
  min-height: 100vh;
}